/* .heading {
  font-size: 3rem;
  margin: 2rem;
  color: #8ec038;
} */

.first h1 {
  font-size: 3rem;
  margin: 1rem;
  color: #027566;
}
.contactbottom {
  margin: 1rem;
  padding-top: 5%;
  text-align: center;
}
.paragraph {
  margin-top: 0.5rem;
  text-align: center;
}

.contactbtn {
  color: #fff;
    background-color: #2c7a6c;
    /* border: 1px solid #12af0a; */
    min-width: 126px;
    font-size: 14px;
    padding: 10px 0px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 500;
    display: inline-block;
    margin-top: 30px;
  }

