/* .bgcolor {
  background-color: #000;
} */

/* .experienceheading {
  color: #fff;
} */

.card {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
  transition: transform 0.2s ease-in-out;
  height: 100%;
}

.card:hover {
  transform: translateY(-5px); /* Lift the card on hover */
}

.card-body {
  text-align: center;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-subtitle {
  font-size: 0.875rem;
  color: #666;
}

.card-text {
  font-size: 1rem;
  color: #2c7a6c;
  font-weight: bold;
}
