.Homecardheading {

  /* white-space: nowrap; */
    text-align: center;
    color: #000;
    padding-top: 40px;
    margin-top: 2rem;
    margin-bottom: 4rem;
  /* font-size: 2rem;
  color: #000;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem; */
}

.accordion-item {
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  background-color: #f0f0f0;
}

.accordion-title:hover {
  background-color: #e0e0e0;
}

.accordion-content {
  padding: 1rem;
}
