


.serviceimg{
  width: 30%;
}
.serviceweightlossimg{
  width: 72%;

}

.servicecontainer1{
  margin-top:7%;
}

.servicesheading{
  white-space: nowrap;
  color: #000;
}

.paragraphheading{
  color: #027566;
}